.pad{
    margin-left: 3%;
}
.coded {
    position: absolute;
    bottom:0;
    top: 7rem;
    font-size: large;
}
.bi{
    font-size: 70px;
}
.lorem1{
    padding-left: 5%;
    padding-right:19%;
    font-size: large;
    padding-bottom: 5%;
}
.trend h3{
    position: relative;
    top:55px;
    right: -45%;
    color: white;
    background-color: #f7560b9f;
    border: 5px solid white;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.add :link{
    text-decoration: none;
}
.li{
    list-style: none;
    padding: 4%;
}
.web{
    text-align: center;
} 
.buss{
    padding-bottom: 10%;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\   color \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.color_1{
    position: absolute;
    top: 0%;
    background-color: rgb(255, 166, 0);
    opacity: 70%;
   height: 700px;
    width: 700px;
    z-index: -2;
}
.color_2{
    position: absolute;
    /* right: 0%;
    bottom: 0%; */
    background-color: cyan
   height: 500px;
    width: 500px;
    /* z-index: 1; */
}
